In [141]:
import pandas as pd
import numpy as np

In [142]:
with open('./data/hurdat2.csv', 'r') as f:
    file_data = [row.strip().split(',') for row in f]
df = pd.DataFrame(file_data)
df.drop([2] + list(range(7,21)), axis='columns', inplace=True)
cols = ['date', 'time', 'status', 'lat', 'lon', 'max_wind']
data = pd.DataFrame(np.matrix(df), columns=cols)

In [143]:
def lon_convert(lon):
    lon = lon.strip()
    lon_sign = 1
    if lon[-1] == 'W':
        lon_sign = -1
    return lon_sign * float(lon[:-1])

In [144]:
def time_filter(t):
    try:
        int(t)
        return(t)
    except:
        return('9999')

In [145]:
def time_convert(time_str):
    try:
        return(int(time_str.strip()))
    except:
        pass

In [146]:
data.date = data.date.apply(lambda x: '99999999' if x[0] == 'A' else x.strip())
data.time = data.time.apply(lambda x: x.strip())
data.status = data.status.apply(lambda x: 'NE' if x == '' else x.strip())
data.lat = data.lat.apply(lambda x: '00.0N' if x is None else x.strip())
data.lat = data.lat.apply(lambda x: float(x.strip()[:-1]))
data.lon = data.lon.apply(lambda x: '00.0W' if x is None else x.strip())
data.lon = data.lon.apply(lambda x: lon_convert(x))
data = data[data.lon > -200]    # Dropping noise
data.max_wind = data.max_wind.apply(lambda x: 0 if x is None else int(x.strip()))
data.time = data.time.apply(lambda x: time_filter(x))
data.loc[:, 'year'] = data.date.apply(lambda x: int(x[0:4]))
data.loc[:, 'month'] = data.date.apply(lambda x: int(x[4:6]))
data.loc[:, 'day'] = data.date.apply(lambda x: int(x[6:8]))
data.drop('date', axis='columns', inplace=True)
data.loc[:, 'hour'] = data.time.apply(lambda x: int(x[0:2]))
data.loc[:, 'minute'] = data.time.apply(lambda x: int(x[2:4]))
data.drop(['time', 'minute'], axis='columns', inplace=True)
data.max_wind = data.max_wind.apply(lambda x: 30 if x == -99 else x)
data.loc[:, 'td'] = data.hour.diff()    # Time delta
data.td = data.td.apply(lambda x: x + 24 if x < 0 else x)
data.td = data.td.apply(lambda x: 6 if x < 0 else x)
data.reset_index(inplace=True, drop=True)
data.tail()

      status   lat   lon  max_wind  year  month  day  hour   td
51514     TS  10.3 -87.5        55  2016     11   25    12  6.0
51515     TS  10.0 -88.8        50  2016     11   25    18  6.0
51516     TS   9.7 -90.2        45  2016     11   26     0  6.0
51517     TS   9.4 -91.7        40  2016     11   26     6  6.0
51518     TD   9.1 -93.3        30  2016     11   26    12  6.0

In [151]:
HU_2017 = pd.read_csv('./data/hurricanes-2017.csv')
pd.concat([data, HU_2017]).reset_index(drop=True)

      status   lat    lon  max_wind  year  month  day  hour    td
0         NE   0.0   -0.0         0  9999     99   99    99   NaN
1         HU  28.0  -94.8        80  1851      6   25     0   6.0
2         HU  28.0  -95.4        80  1851      6   25     6   6.0
3         HU  28.0  -96.0        80  1851      6   25    12   6.0
4         HU  28.1  -96.5        80  1851      6   25    18   6.0
5         HU  28.2  -96.8        80  1851      6   25    21   3.0
6         HU  28.2  -97.0        70  1851      6   26     0   3.0
7         TS  28.3  -97.6        60  1851      6   26     6   6.0
8         TS  28.4  -98.3        60  1851      6   26    12   6.0
9         TS  28.6  -98.9        50  1851      6   26    18   6.0
10        TS  29.0  -99.4        50  1851      6   27     0   6.0
11        TS  29.5  -99.8        40  1851      6   27     6   6.0
12        TS  30.0 -100.0        40  1851      6   27    12   6.0
13        TS  30.5 -100.1        40  1851      6   27    18   6.0
14        TS  31.0 -100.2        40  1851      6   28     0   6.0
15        NE   0.0   -0.0         0  9999     99   99    99  99.0
16        HU  22.2  -97.6        80  1851      7    5    12   6.0
17        NE   0.0   -0.0         0  9999     99   99    99  87.0
18        TS  12.0  -60.0        50  1851      7   10    12   6.0
19        NE   0.0   -0.0         0  9999     99   99    99  87.0
20        TS  13.4  -48.0        40  1851      8   16     0   6.0
21        TS  13.7  -49.5        40  1851      8   16     6   6.0
22        TS  14.0  -51.0        50  1851      8   16    12   6.0
23        TS  14.4  -52.8        50  1851      8   16    18   6.0
24        TS  14.9  -54.6        60  1851      8   17     0   6.0
25        TS  15.4  -56.5        60  1851      8   17     6   6.0
26        HU  15.9  -58.5        70  1851      8   17    12   6.0
27        HU  16.1  -60.4        70  1851      8   17    18   6.0
28        HU  16.6  -62.5        80  1851      8   18     0   6.0
29        HU  16.9  -64.1        80  1851      8   18     6   6.0
...      ...   ...    ...       ...   ...    ...  ...   ...   ...
51596     WV  18.6   87.8        25  2017      8   22     6   6.0
51597     WV  19.4   88.8        25  2017      8   22    12   6.0
51598     LO  20.0   89.7        25  2017      8   22    18   6.0
51599     LO  20.5   90.7        25  2017      8   23     0   6.0
51600     LO  20.9   91.6        25  2017      8   23     6   6.0
51601     TD  21.4   92.3        30  2017      8   23    12   6.0
51602     TS  21.6   92.4        35  2017      8   23    18   6.0
51603     TS  22.0   92.5        40  2017      8   24     0   6.0
51604     TS  22.8   92.6        50  2017      8   24     6   6.0
51605     TS  23.7   93.1        60  2017      8   24    12   6.0
51606     HU  24.4   93.6        70  2017      8   24    18   6.0
51607     HU  25.0   94.4        80  2017      8   25     0   6.0
51608     HU  25.6   95.1        90  2017      8   25     6   6.0
51609     HU  26.3   95.8        95  2017      8   25    12   6.0
51610     HU  27.1   96.3       105  2017      8   25    18   6.0
51611     HU  27.8   96.8       115  2017      8   26     0   6.0
51612     HU  28.0   96.9       115  2017      8   26     3   3.0
51613     HU  28.2   97.1       105  2017      8   26     6   3.0
51614     HU  28.7   97.3        65  2017      8   26    12   6.0
51615     TS  29.0   97.5        50  2017      8   26    18   6.0
51616     TS  29.2   97.4        45  2017      8   27     0   6.0
51617     TS  29.3   97.6        40  2017      8   27     6   6.0
51618     TS  29.1   97.5        35  2017      8   27    12   6.0
51619     TS  29.0   97.2        35  2017      8   27    18   6.0
51620     TS  28.8   96.8        35  2017      8   28     0   6.0
51621     TS  28.6   96.5        40  2017      8   28     6   6.0
51622     TS  28.5   96.2        40  2017      8   28    12   6.0
51623     TS  28.4   95.9        40  2017      8   28    18   6.0
51624     TS  28.2   95.4        40  2017      8   29     0   6.0
51625     TS  28.1   95.0        40  2017      8   29     6   6.0

[51626 rows x 9 columns]

In [140]:
pd.concat([a, b]).reset_index(drop=True)

   go
0   1
1   2
2   3
3   4
4   5
5   6

In [131]:
data['lat_lon'] = list(zip(data.lat, data.lon))
data.loc[:, 'A'] = data.lat_lon.apply(lambda x: 1 if (28.0 > x[0] >= 25.9) & 
                                      (-99.1 < x[1] <= -95.9) else 0)
data.loc[:, 'B'] = data.lat_lon.apply(lambda x: 1 if (30.9 > x[0] >= 28.0) & 
                                      (-97.6 < x[1] <= -92.4) else 0)
data.loc[:, 'C'] = data.lat_lon.apply(lambda x: 1 if (31.2 > x[0] >= 28.9) & 
                                      (-92.4 < x[1] <= -88.5) else 0)
data.loc[:, 'D'] = data.lat_lon.apply(lambda x: 1 if (31.4 > x[0] >= 28.9) & 
                                      (-88.5 < x[1] <= -85.1) else 0)
data.loc[:, 'E'] = data.lat_lon.apply(lambda x: 1 if (31.2 > x[0] >= 28.9) & 
                                      (-85.0 < x[1] <= -79.9) else 0)
data.loc[:, 'F'] = data.lat_lon.apply(lambda x: 1 if (28.9 > x[0] >= 26.7) & 
                                      (-83.3 < x[1] <= -80.0) else 0)
data.loc[:, 'G'] = data.lat_lon.apply(lambda x: 1 if (26.7 > x[0] >= 24.4) & 
                                      (-82.6 < x[1] <= -79.0) else 0)
data.loc[:, 'H'] = data.lat_lon.apply(lambda x: 1 if (34.0 > x[0] >= 31.2) & 
                                      (-82.4 < x[1] <= -78.3) else 0)
data.loc[:, 'I'] = data.lat_lon.apply(lambda x: 1 if (37.4 > x[0] >= 34.0) & 
                                      (-80.7 < x[1] <= -75.4) else 0)
data.loc[:, 'J'] = data.lat_lon.apply(lambda x: 1 if (41.6 > x[0] >= 37.4) & 
                                      (-78.8 < x[1] <= -72.0) else 0)
data.loc[:, 'K'] = data.lat_lon.apply(lambda x: 1 if (45.4 > x[0] >= 40.7) & 
                                      (-72.0 < x[1] <= -67.5) else 0)
data.drop(['lat_lon'], axis=1, inplace=True)

Any double-dipping among zones?

In [132]:
data[(data.A + data.B + data.C + data.D + data.E + data.F + data.G + data.H + data.I + \
      data.J + data.K) > 1].count().sum()

0

In [133]:
data.tail()

,status,lat,lon,max_wind,year,month,day,td,A,B,C,D,E,F,G,H,I,J,K
51514,TS,10.3,-87.5,55,2016,11,25,6.0,0,0,0,0,0,0,0,0,0,0,0
51515,TS,10.0,-88.8,50,2016,11,25,6.0,0,0,0,0,0,0,0,0,0,0,0
51516,TS,9.7,-90.2,45,2016,11,26,6.0,0,0,0,0,0,0,0,0,0,0,0
51517,TS,9.4,-91.7,40,2016,11,26,6.0,0,0,0,0,0,0,0,0,0,0,0
51518,TD,9.1,-93.3,30,2016,11,26,6.0,0,0,0,0,0,0,0,0,0,0,0

In [134]:
data.columns

Index(['status', 'lat', 'lon', 'max_wind', 'year', 'month', 'day', 'td', 'A',
       'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K'],
      dtype='object')

In [103]:
data.to_csv('./data/hurdat2_cleaned.csv')

In [ ]:
num = []
events_index = np.array(data[data.status == 'NE'].index)
for i in range(1, 1830):
    num.append(events_index[i] - events_index[i - 1])
num += [19]    # Last storm event in dataset

In [93]:
num_meas = []
temp = num
for i in data.index:
    if data.status[i] == 'NE':
        count = num[0]
        sub_count = count
        del temp[0]
    else:
        sub_count -= 1
    num_meas.append(count - sub_count)
data.loc[:, 'prior_measures'] = num_meas

NameError: name 'num' is not defined